@using Uppfinnaren.Models.ProductInfo
@model IEnumerable<ProductInfoViewModel>
<h1>Produkter</h1>

<div class="row">
    @foreach (var productInfoViewModel in Model)
    {
                    <partial name="_ProductItem" model="productInfoViewModel" />
    }
</div>