@using Uppfinnaren.Models.ProductInfo
@using Uppfinnaren.Models.Category

@model IEnumerable<ProductInfoViewModel>

@{var categoryName = Model.FirstOrDefault()?.CategoryName;}

<h1 class="display-3 text-center" >@categoryName</h1>

<div class="row">
    @foreach (var productInfoViewModel in Model)
    {
        <partial name="_ProductItem" model="productInfoViewModel" />
    }
</div>
