@using Uppfinnaren.Models.ContactInfo
@model IEnumerable<ContactInfoViewModel>

<h1>Kontaktuppgifter</h1>

@foreach(var contactInfoViewModel in Model)
{
    <p><partial name="_ContactItem" model="contactInfoViewModel" /></p>
    
} 
