@{
    ViewData["Title"] = "Uppfinnaren";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Uppfinnarens galleri!</h1>
    <p>Här kan se du mina kreationer samt hur du kan nå mig om du skulle vilja köpa ett verk eller bara kolla på dom i verkligheten!</p>

    <a href="/contact"><button>Kontakta mig!</button></a>

</div>
