@using Uppfinnaren.Models.ContactInfo
@model ContactInfoViewModel

<img src="~/img/uppfinnarecontact.jpg">
<div>@Model.Email</div>
<div>@Model.StreetAddress</div>
<div>@Model.ZipCode @Model.City</div>