@using Uppfinnaren.Models.ProductInfo
@model ProductInfoViewModel

<div class="col-sm-4 col-md-3">

    <div class="card mb-3">
        <img src="~/img/@(Model.Name).jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text"><small class="text-body-secondary">Färg: @Model.Color</small></p>
            <p class="card-text"><small class="text-body-secondary">Material: @Model.Material</small></p>
        </div>
    </div>
</div>
